* {
  background-color: #1d1d1d;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fafafa;
}

h1,
h2,
p {
  color: #fafafa;
  font-family: "Inter", sans-serif;
}

.container {
  padding: 100px 150px 50px 270px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
  /*   border: 1px solid red; */
}

.card {
  width: 300px;
}

.card:hover {
  opacity: 0.8;
}
.card-image {
  height: 200px;
  width: 320px;
  border-radius: 5px;
}

.card-heading {
  margin-top: 12px;
  margin-bottom: 10px;
  font-weight: 300;
}

.card-heading:hover {
  /*   font-size: 25px; */
  text-decoration-line: underline;
}

.card-content {
  margin: 0;
  font-weight: 250;
}

@media screen and (max-width: 820px) {
  .container {
    padding: 30px 0 30px 25px;
  }

  .card-container {
    justify-content: center;
  }

  .card-image {
    width: 300px;
  }
}
